<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <!--session-factory name="sessionFactory" -->
 <session-factory>

  <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="connection.password">admin</property>
  <property name="connection.url">jdbc:mysql://localhost:3306/hibernate_db</property>
  <property name="connection.username">root</property>
  <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

  
  <property name="show_sql">true</property>
  <property name="query.substitutions">true 1 , false 0</property>
  
  <!-- 2级缓存的一个提供者 还有好几种看文档 还有第三方的-->
  <property name="cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>
  <!-- 查询结果集也可以被缓存 -->
  <property name="cache.use_query_cache">true</property>
  
  <!-- 
  <property name="transaction.factory_class">org.hibernate.transaction.JTATransactionFactory</property>
  <property name="transaction.manager_lookup_class">org.hibernate.transaction.WeblogicTransactionManagerLookup</property>
  <property name="jta.UserTransaction">javax/transaction/UserTransaction</property>
	 -->
	
	
  <mapping resource="com/ek/hibernate/model/pojo/Bookinfo.hbm.xml"/>
  <mapping resource="com/ek/hibernate/model/pojo/Sellbook.hbm.xml"/>
  <mapping resource="com/ek/hibernate/model/pojo/Userinfo.hbm.xml"/>

  
  <mapping resource="com/ek/hibernate/model/pojo1/TestUserInfo.hbm.xml"/>

  
  <mapping resource="com/ek/hibernate/model/pojo2/ZAddress.hbm.xml"/>
  <mapping resource="com/ek/hibernate/model/pojo2/ZLesson.hbm.xml"/>
  <mapping resource="com/ek/hibernate/model/pojo2/ZStudent.hbm.xml"/>
  <mapping resource="com/ek/hibernate/model/pojo2/ZTeacher.hbm.xml"/>

  
  <mapping resource="com/ek/hibernate/model/pojo3/Person.hbm.xml"/>
  <mapping resource="com/ek/hibernate/model/pojo3/Employee.hbm.xml"/>
  
  
  <mapping class="com.ek.hibernate.model.pojo4.TestAnnotation"/>
  
  
  
  
 <!-- 指定哪一个类使用2级缓存  -->
<class-cache usage="read-only" class="com.ek.hibernate.model.pojo1.TestUserInfo" region="TestUserInfo"/>

  <!-- 当所有load方法执行的时候 这个监听器会执行 -->
 <listener type="load"  class="com.ek.hibernate.model.eventListener.AuditLoadEventListener"/>
 
 </session-factory>
</hibernate-configuration>
